//input[type=text], select {
//  width: 100%;
//  padding: 12px 20px;
//  margin: 8px 0;
//  display: inline-block;
//  border: 1px solid #ccc;
//  border-radius: 4px;
//  box-sizing: border-box;
//}

.chatList {
  overflow-y: auto;
  overflow-x: hidden;
  font-size : 12px;
}

.chatBox{
  height:98%;
}

.crownIcon {
  color : #ffb02a;
}

.UserList{
  font-size: 12px;
  overflow-y: scroll;
  height: 29.5em;
}

.changePLButton {
  float: right;
  padding: 0px 3px;
  font-size: 11px;
  background-color: #2c3c7c;
  border: none;
  color: white;
  margin-right: 5px;
}

.userLine {
  padding-bottom: 5px;
}

.buttonUp {
  vertical-align : middle;
}

.userText {
  margin-left:5px;
}

.chatUser{
  font-weight:bold;
  margin-right:1px;
}