.Home .lander {
    padding: 80px 0;
    text-align: center;
    background: #313336;
}

.Home {
    margin: 0px 20px;
}

.Home .lander h1, .VideoQueue{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.Home .lander p {
    font-size: 50px;
}

.homeLogo {
    width: 350px;
}

