.Room {
  display: flow-root;
  padding: 1%;
  background-color: #292b2e;

}

div.YTWrapper:hover .buttonWrapFloat{
  display:block;
  right:32%;
}

div.YTWrapperTheatreMode:hover .buttonWrapFloat{
  display:block;
  right:3%;
}

.YTWrapper div{
  float: left;
  width:70%;
  height:70vh;
}

.YTWrapperTheatreMode div{
  float: left;
  width:100%;
  height:80vh;
}

.YTWrapperTheatreMode iframe{
  width: 100%;
  height:100%;
}

.YTWrapper iframe{
  width: 100%;
  height:100%;
}

.react-tabs {
  float: left;
  width: 30%;
  height: 70vh;
  padding-left: 1%;
  font-size:12px;
}

.react-tabs__tab {
  display: inline-block;
  border: none
}
.react-tabs__tab--selected {
  background-color: #292b2e;
  color: #ccc;
  border-radius: 5px 5px 0 0;
  font-weight:bold;
}

.react-tabs__tab-list {
  border: none;
  padding: 0;
  margin-bottom: 0px;
}

.react-tabs__tab-panel--selected {
  display: block;
  background-color: #292b2e;
  height: 91%;
  padding: 0%;
}

.buttonWrapFloat {
  display:none;
  position: absolute;
  top: 11%;
  right: 32%;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #337ab7;
  box-shadow: 1px 1px 5px #00000085;
  cursor:pointer;
}

.theatreModeIcon{
  width: 1em;
  height: 2em;
  display: block;
  margin: 0 auto;
  margin-top: .5em;
}