@media all and (min-width: 480px) {
    .Signup {
        padding: 100px 0;
    }

    .Signup form {
        margin: 0 auto;
        max-width: 320px;
    }
}
.myinput:focus {

    outline:  #FF0000 solid 5px;

}
.register{
    background:  #FF0000;
    margin-top: 78px;
}