/**
 * Created by brett on 5/5/19.
 */

.VideoQueue{
  width: 70%;
  height: 17em;
  background: #292b2e;
  font-size: 10px;
  display: inline-block;
  white-space: nowrap;
  overflow-y: hidden;
  float:left;
}

.VideoQueue img{
  display:block;
  margin: 0 auto;
  width:120px;
  height:90px;
}
.VideoQueue ul{
  padding: 0px;
  margin-left: 1%;
  margin-right: 1%;
}

.vid{
  font-size: 10px;
  background: #434343;
  width: 14em;
  height: 12em;
  margin-right: 5px;
  box-shadow: 0px 0px 3px #222222;
  margin-top: 2em;
  display:inline-block;
  min-width: 120px;
  position:relative;
}

.vid:hover{
  background-color:black;
}

.vidThumb{
  background: black;
}

.vidTitle{
  max-width: 100%;
  display: block;
  padding: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: .5em;
}

.addVideoBlock{
  width: 2%;
  height: 11em;
  display: inline-block;
  background-color: #434343;
  margin-right: 2em;
  box-shadow: 0px 0px 3px #222222;
  border-radius: 0px 5px 5px 0px;
}

.addVideoBlock:hover{
  width:20%;
}

.addVideoBlock:active{
  width:20%;
}

.addVideoBlock:active .addVideoIcon{
  display:none;
}

.addVideoBlock:hover .addVideoIcon{
  display:none;
}

.addVideoIcon{
  display: block;
  color: #cccccc;
  width: 100%;
  min-width:100%;
  height: 100%;
  margin: 0 auto;
  padding: 20%;
}

.addVideoForm{
  display:block;
}


/* Scroll Bar Stying */
::-webkit-scrollbar{
  width:1em;
  height:1em;
}

::-webkit-scrollbar-track{
  background-color:#292a2d;
}

::-webkit-scrollbar-thumb {
  background: #797d8c;
}

.vidControl { display:none; }

.vid:hover .vidControl{
  display: inline-block;
  z-index: 1;
  height: 12em;
  width: 14em;
  margin: 0;
  position: absolute;
  margin-right: 5px;
}

.vidControlIcons{
  background-color: #000000c9;
  display: table;
  margin: 0 auto;
  width: 120px;
  height: 90px;
}


.ctrlIcons{
  margin: 0em .5em;
  margin-top: 1.5em;
}

.ctrlIcons:hover{
  color:#337ab7;
  cursor: pointer;
}

.deleteWrapper{
  height: 2em;
  float: left;
  width: 100%;
  margin-top: .5em;
  margin-right: .5em;
}

.ctrlWrapper{
  height: 6em;
  width: 100%;
  float: left;
}

.trashIcon{
  float:right;
}

.trashIcon:hover{
  color: #b73333;
  cursor: pointer;
}