/**
 * Created by brett on 5/5/19.
 */


.VideoQueue img{
  width:100px;
}
.VideoQueue ul{
  padding:0px 1px;
  margin-top:5px;
}

.VideoQueue li{
  font-size: 10px;

  list-style: none;
  border: 1px solid black;

  padding: 0px 0px;
  background: #FF4500;

}

.VideoQueue li:hover{
  background-color: #f7f7f7;
}