
body {
  background: #1f1f21;
}

.Appcontainer {
  background: #1f1f21;
  color: #ccc;
}
.App .navbar-brand {
  font-weight: bold;
}
.Link{
    text-align: center;
}
.navbar{
  background: #252525;
  border-radius: 0px;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #ccc;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #82b3fd;;
}

.navbar-default .navbar-brand {
  color: #ccc;
}

.navbar-default .navbar-brand:hover {
  color: #82b3fd;;
}